@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fffaf5;
  color: #34231d;
}

@media print {
  nav,
  .no-print {
    display: none !important;
  }

  body {
    background: white;
  }
}
